$xsmall: 360px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1440px;

@mixin respond-to($breakpoint) {
    @if $breakpoint ==xsm {
        @media (max-width: $xsmall) {
            @content;
        }
    } @else if $breakpoint ==sm {
        @media (max-width: $small) {
            @content;
        }
    } @else if $breakpoint ==md {
        @media (max-width: $medium) {
            @content;
        }
    } @else if $breakpoint ==lg {
        @media (max-width: $large) {
            @content;
        }
    } @else if $breakpoint ==xl {
        @media (max-width: $xlarge) {
            @content;
        }
    } @else if $breakpoint ==xxl {
        @media (max-width: $xxlarge) {
            @content;
        }
    } @else {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}
