/* C O L O U R S */


/* G L O B A L */
$body-bg: #F2F2F2;
$container-max-width: 1560px;

/* S C R O L L    B A R */
$scrollbar-width: 6px;
$scrollbar-track-color: #747474;
$scrollbar-thumb-radius: 21px;
$scrollbar-thumb-color: #253242;
$scrollbar-thumb-hover-color: #4c6583;
