.MuiCollapse-wrapperInner{
    .MuiTreeItem-root{
        .MuiTreeItem-label{
            .MuiBox-root{

                p.MuiTypography-root{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 80%;
                    white-space: nowrap;

                }
            }
        }
    }
}

    .spinnerCont {
        width: 95%;
        height: 100%;
        position: absolute;
        text-align: center;
        background-color: rgb(255 255 255 / 60%);
        z-index: 100;
        top: 0;
        padding-top: 48%;
    }

.Mui-expanded + ul .MuiCollapse-wrapper.MuiCollapse-vertical {
    background-color: #f7f7f7;
    padding: 0px 21px;
    border-radius: 11px;
    margin-top: 2px
}
.lastLvl .MuiTreeItem-iconContainer {
    display: none !important; 
}