@import "../1-abstracts/breakpoints";

/* B O D Y */
body {
    background: $body-bg;
}

/* C O N T A I N E R */

.container {
    width: 95%;
    margin: 0 auto;
}
/* S C R O L L    B A R */
::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: #b4b4b4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: $scrollbar-thumb-radius;
    background-color: $scrollbar-thumb-color;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
}
/* S C R O L L    B A R  O F   M O D U L E S CON*/
.modulesCont::-webkit-scrollbar {
    height: 6px;
}
