$primeryColor: #0e0f38;
$seconderyColor: #009fe3;
$fontPrimeryColor: #333;
$fontSeconderyColor: #BCBCBC;
$redColor: #eb3f43;
$danger: #D04848;
$success: #0B9350;
$warning: #F09030;
$info: #2f8add;
$aqua: #17a2b8;
$grey: #6c757d;
